<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg" style="background-color:#1976D2;">
        <div class="container-fluid">

            <a class="navbar-brand text-white fw-bold" href="/">Sportéo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav">

                    <li class="nav-item"><a class="nav-link text-white" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/produits">Produits</a></li>

                    <!-- DROPDOWN -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">
                            Infos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/a-propos">À propos</a></li>
                            <li><a class="dropdown-item" href="/contact">Contact</a></li>
                            <li><a class="dropdown-item" href="/inscription">Inscription</a></li>
                            <li><a class="dropdown-item" href="/rgpd">RGPD</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link text-white" href="/panier">Panier</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/connexion">Connexion</a></li>

                </ul>
            </div>

        </div>
    </nav>

</div>

</body>
</html>
